.mat-form-field-flex > .mat-form-field-infix {
    width: 112px;
}

form {
    font-family: 'Courier New', Courier, monospace;
    font-size: 95%;
    margin-top:24px;
    margin-bottom:-4px;
}
.short {
    width: 88px;
}
