<section class="mat-typography">
<markdown ngPreserveWhitespaces> 
# About
## Context of this project
During our fifth year at **INSA Toulouse** (National Institute of Applied Sciences), with our *Innovative & Smart Systems* speciality, we explored the **Services Oriented Architectures** (SOA). WSDL, SOAP, Rest, WebServices and Microservices, our practical works and labs ended with a project: developping a Software Oriented Architecture for managing rooms and room actuators in our school (and more specifically, our departement, the GEI).

Here, we used [Spring Boot](https://start.spring.io/) to develop our services. The services control *(fake)* sensors and actuators through an IoT Middleware, [OM2M](https://www.eclipse.org/om2m/), an open source implementation of oneM2M and SmartM2M standards. 

The User Interface presented here uses the Angular framework, to consume the REST API provided by our Microservices.
## Authors
Noël, Isa, & PK
## Project code
On [Github : RoomsManagement](https://github.com/noeltaillardat/RoomsManagement)
***
# Source
***
# Readme
***
# Report
</markdown>
</section>